# Ignore macOS metadata
*.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore sport logos directory
sport_logos/

# Ignore virtual environments
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

/logs*