*.DS*

.vscode

sport_logos/

# Don't upload the venv folder
venv/

# Don't upload the bytecode files
*/__pycache__/*
__pycache__/*

# Don't upload images if resized, change if additional images are added
*.png*
