# Ignore macOS metadata
*.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore sport logos directory
sport_logos/

# Ignore virtual environments
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore log files
/logs*

# Ignore JSON configuration files
*.json*

# Ignore Test Results
TEST_RESULTS/